*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}

/*   HEADER   */

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: #555;
}

a:hover{
    color: #ff523b;
}

p{
    color: #555;
}

.container{
    max-width: 1300px;
    margin: auto ;
    padding-left: 35px;
    padding-right: 35px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img{
    max-width: 100%;
    padding-right: 50px 0;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 30px 0;
}

.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding:8px 30px;
    margin: 20px;
    border-radius: 20px;
}

.btn:hover{
    color: white;
    transition: .6s;
    background-color: #c91e07;
}

.header{
    background: radial-gradient(#fff, #ffd6d6);
}

.header .row{
    margin-top: 50px;

}

.menu-icon{
    width: 26px;
    margin-left: 20px;
    position: relative;
    top: 3px;
    cursor: pointer;
    display: none;
}
/**FIM DA HEADER**/



/*   CATEGORIES   */

.categories{
    margin: 70px 0;
}

.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img{
    width: 100%;
    box-shadow: 2px 2px 20px #ff523b86;
}

.small-container{
    max-width: 1080px;
    margin: auto ;
    padding-right: 30px;
    padding-left: 30px ;
    margin-top: 40px;
}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform .7s;
}

.col-4 img{
    width: 100%;
}

.col-4 img:hover{
    box-shadow: 0 0 5px 0 #ff523b4d;

}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4{
    color: #555;
    font-weight: normal;

}

.col-4 p{
    font-size: 14px;
}

.rating .fa{
    color: #ff523b;
}

.col-4:hover{
    transform: translateY(-7px);

}

/**FIM DA CATEGORIES**/



/*   OFFER  */
.offer{
    background: radial-gradient(#fff,#ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}

.col-2 .offer-img{
    padding: 50px;
}

small{
    color: #555;
}
/**FIM DA OFFER**/



/*  TESTEMONIAL  */


.testemonial{
    padding-top: 100px;
}

.testemonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow:  0 0 20px 0px rgba(0, 0, 0, 0.281);
    cursor: pointer;
    transition: transform .7s;
    border-radius: 2%;

}

.testemonial .col-3 img{
    width: 30%;
    margin-top: 20px;
    border-radius:50% ;
}

.testemonial .col-3:hover{
    transform: translateY(-10px);
    box-shadow:  0 0 20px 0px rgba(0, 0, 0, 0.555);
}

.fa.fa-quote-left{
    font-size: 30px;
    color: #ff523b;
}

.col-3 p{
    font-size: 14px;
    margin: 12px 0;
    color: #777;
}

.testemonial .col-3 h3{
    font-weight: 600;
    color: #555;
}
/**  FIM DA TESTEMONIAL  **/



/*  BRANDS  */

.brands{
    margin: 10px auto;
}

.col-5{
    width: 130px;
}

.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}

.col-5:hover img{
    filter: grayscale(0%);

}
/**  FIM DA BRANDS  **/



/**  FOOTER  **/

.footer{
    background: black;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer p {
    color: #8a8a8a;
}

.footer h3{
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4{
    min-width: 250px;
    margin-bottom: 20px ;
}

.footer-col-1{
    flex-basis: 30%;
}


.footer-col-2{
    flex: 1;
    text-align: center;
}

.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}

.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}

ul{
    list-style-type: none;

}

.app-logo{
    margin-top: 20px;
}

.app-logo img{
    width: 140px;
}

.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px auto;
    width: 90%;
}

.footer .copyright{
    text-align: center;
    font-size: 14px;
    color: white;
}
/**  FIM DA FOOTER  **/

/** ALL PRODUCTS **/

.row-2{
    justify-content: space-between;
    margin: 20px auto 50px;
    padding: 0 80px;
}

select{
    border: 1px solid #ff523b;
    padding: 5px;
    outline: none;
    cursor: pointer;
    background: #ff523b1e;
    color: #555;
    font-weight: bold;
    border-radius: 2px;
}

.page-btn{
    margin: 0 auto 40px;
}
.page-btn span{
    display: inline-block;
    border: 1px solid #ff523b;
    padding: 10px;
    cursor: pointer;
    margin-left: 10px;
    transition: .5s;
}

.page-btn span:hover{
    background: #ff523b;
    color: white;
}
/** FIM DE ALL PRODUCTS **/

/** PRODUCTS DETAILS **/

.single-products .col-2 img{
padding: 2px;
}

.single-products .col-2{
    padding: 20px;
}

.single-products h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.single-products select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}

.single-products input{
    width: 50px;
    height: 40px;
    border: 1px solid #ff523b;
    font-size: 20px;
    text-align: center;
    margin-right: 10px;
    outline: none;
}

.single-products .fa{
    color: #ff523b;
    margin-left: 10px;
}

.small-img-row{
    display: flex;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}


/** FIM DE PRODUCTS DETAILS **/

/** CART PRODUCTS **/

.cart-page{
    margin: 80px auto;
}

table{
    width: 100%;
    border-collapse: collapse;
}

.cart-info{
    display: flex;
    flex-wrap: wrap;
}

th{
    text-align: left;
    padding: 5px;
    color: rgb(0, 0, 0);
    background-color: #ff523b;
    font-weight: normal;
}

td{
    padding: 10px 5px;
}

td input{
    width: 45px;
    height: 40px;
    border: 1px solid #ff523b;
    outline: #ff523b;
    border-radius: 2px;
    padding-left: 2px;
}

td a{
    color: #ff523b;
}

td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.total-price{
    display: flex;
    justify-content: flex-end;
}

.total-price table{
    border-top: 2px solid #ff523b;
    width: 100%;
    max-width: 403px;
}

td:last-child{
    text-align: right;
}

th:last-child{
    text-align: right;
}


/****/


.btn-details{
    border: none;
    display: inline-block;
    text-align: center;
    line-height: 35px;
    background-color: #ff523b;
    color: white;
    width: 150px;
    height: 35px;
    border-radius: 20px;
    margin-top: 10px;
    transition: .7s;
    cursor: pointer;

}

.btn-details:hover{
    background-color: #c91e07;
    color: white;
}



/**  MEDIA SCREEN  **/

@media screen and (max-width:800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: rgba(0, 0, 0, 0.753);
        width: 100%;
        overflow: hidden;
        transition: max-height 0.9s;
        text-align: center;
        z-index: 1;
    }

    
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a{
        color: white;
    }

    .menu-icon{
        display: block;
    }
}

@media screen and (max-width:600px){
    .row{
        text-align: center;
    }

    .col-2,
    .col-3,
    .col-4{
        flex-basis: 100%;
    }

    .single-products .row{
        text-align: left;
    }

    .single-products .col-2{
        padding: 20px;
        
    }

    .single-products h1{
        font-size: 25px;
        line-height: 26px;
    }

}